pyrofork @ git+https://github.com/arynyklas/pyrofork@42e9410aadab33257b878a9e06e7ade125e14cc
tgcrypto-pyrofork == 1.2.7
pytz == 2024.2
numpy == 2.1.2
pydantic == 2.11.1
simplejson == 3.20.1
httpx == 0.28.1
